#mostrar_mensaje{
    z-index: 2;
    width: 80vw;
    height: 90vh;
    background-color: grey;
}
#enviar_mensaje{
    z-index: 2;
    width: 80vw;
    height: 10vh;
    background-color: whitesmoke;
    justify-items: center;
    text-align: center;
}
input#buzon{
    overflow: hidden;
}